/*стили навигационной панели*/

.header {
    /*margin-top: 30vh;*/
    position: relative;
    height: 20vh;
}

.navbar-brand {
    color: #ffffff;
    cursor: pointer;
    margin-left: 14vw;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 14vw;
}

.nav-link {
    color: #fff;
    cursor: pointer;
    margin-right: 1vw;
    border-radius: 10px;
}


/*стили содержательной части*/

.content {
    padding-bottom: 15vh;
    padding-left: 17vw;
    padding-right: 17vw;
}

.homeArticle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.navigation {
    width: 14vw;
    position: fixed;
    margin-left: 1vw;
    background-color: #cacaca77;
    padding: 1vw;
    border-radius: 20px;
}

.table {
    margin-top: 5vh;
    width: 100vw;
    font-size: large;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: auto;
    margin-top: 5vh;
}


/*стили панели контактов и копирайта*/

.foot {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #1b8e2e;
    height: 40vh;
    color: rgb(255, 255, 255);
    padding-left: 14vw;
    padding-right: 14vw;
}

.c {
    margin: auto;
    text-align: center;
}

.soc {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.link {
    height: 5vh;
    margin: auto;
}

.copy {
    height: 13svh;
    background-color: #146e23;
    color: #fff;
    text-align: center;
    padding-top: 3vh;
}